<h2>Treasure</h2>
<table class="table">
  <thead>
	<tr>
	  <th>Item</th>
	  <th>Value (gp)</th>
	  <th><th>
	</tr>
  </thead>
  <tbody>
	<form action="vault/treasure" method="post">
	  <tr>
		<td>
		  <input type="text" class="form-control" name="description"
				 placeholder="Treasure Description" required>
		</td>
		<td>
		  <input type="number" min="0" class="form-control" name="value" mine="0"
				 placeholder="Value (gp)" required>
		</td>
		<td>
		  <input type="submit" value="Add" class="btn btn-default">
		</td>
	  </tr>
	</form>
	  {% for t in treasure %}
	<tr>
	  <td>{{ t.description }}</td>
	  <td>{{ t.value }}</td>
	  <td>
		<form action="/vault/treasure/sell" method="post" class="pull-left">
		  <input type="hidden" name="treasure_id" value="{{ t.id }}">
		  <input type="submit" value="Sell" class="btn btn-default">
		</form>

		<form action="/vault/treasure/delete" method="post">
		  <input type="hidden" name="treasure_id" value="{{ t.id }}">
		  <input type="submit" value="Delete" class="btn btn-default">
		</form>
	  </td>
	</tr>
	{% endfor %}
  </tbody>
</table>
